<h1>北海道・東北地方</h1>

<div class="hokkaidotohoku">


<% @hokkaidotohokus.each do |t| %>
  
  <p><%= t.name %><br></p>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Martian+Mono:wght@800&family=Noto+Sans+JP:wght@100;300;500;600;800&family=Noto+Serif+JP:wght@200;900&display=swap" rel="stylesheet">
  
  
  <p><%= image_tag t.image_url, size: "400x250" if t.image? %></p>
  <%= link_to "詳細へ", world_path(t.id) %>
  
<% end %>
