.area{
    font-family: 'Croissant One', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Noto Serif JP', serif;

    background-color: rgba(252, 250, 244, 1);

}

body{
    background-color: rgba(252, 250, 244, 1);
}