.fujisan {
    background-image: url("assets/images/fujisan_top.jpg");
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 550px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sekai{
    
    background-color: rgba(252, 250, 244, 1);
}

body{
    background-color: rgba(252, 250, 244, 1);
}
