.tyugokushikoku{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    background-color: rgb(223, 234, 235);
    letter-spacing: 7px;
    color: rgb(100, 96, 83);
    display:flex;
    flex-flow: column;
    text-align: center;
    line-height: 7ex;
    
    
}